export CURL_HOME=$PWD
#export DOCKER_HOST=$(docker context inspect $(docker context show) | jq -r '.[0].Endpoints.docker.Host')

export FUNC_REGISTRY=margarita.dev:5000
export FUNC_ENABLE_HOST_BUILDER=true
export FUNC_BUILDER=host
export FUNC_CONTAINER=false

