export CURL_HOME=$PWD
export HTTPIE_CONFIG_DIR=$PWD/.httpie
export DEMO_DOMAIN=${DEMO_DOMAIN:-margarita.dev}
export DEMO_DIR="${PWD}/src/margarita.dev/www"

export FUNC_REGISTRY=${DEMO_DOMAIN}:5000
export FUNC_REGISTRY_INSECURE=true
export FUNC_ENABLE_HOST_BUILDER=true
export FUNC_BUILDER=host
export FUNC_CONTAINER=false

